<section class="background text-white py-50 text-center">
    <div class="container mx-auto px-4">
        <h2 class="text-heading pt-2">DIGITAL SERVICES</h2>
        <p class="text-sub-heading mt-3">BUILDING YOUR EMPIRE DIGITALLY</p>

        <div class="mt-6 mx-auto flex" style="max-width: 450px;">
            <button class="bg-org px-4 py-2 text-white flex-1">See Pricing</button>
            <button class="bg-trans px-4 py-2 text-white ms-2 flex-1" style="border-radius: 4px;">Book an
                Appointment</button>
        </div>

        <!-- Counter Section -->
        <div class="mt-8 bg-transparent rounded-lg p-4 flex justify-center">
            <div class="grid grid-cols-2 gap-4 lg:flex justify-center lg:space-x-6">
                <div class="flex align-center">
                    <img src="Image.svg" alt="logo" style="width: 48px;" class="pb-3 pe-2">
                    <div class="text-left pe-4">
                        <span class="text-2xl font-bold">2k+</span>
                        <p class="text-sm">Websites built</p>
                    </div>
                    <div class="hidden lg:block border-end"></div>
                </div>
                <div class="flex align-center">
                    <img src="Image.svg" alt="logo" style="width: 48px;" class="pb-3 pe-2">
                    <div class="text-left pe-4">
                        <span class="text-2xl font-bold">2k+</span>
                        <p class="text-sm">Websites built</p>
                    </div>
                    <div class="hidden lg:block border-end"></div>
                </div>
                <div class="flex align-center">
                    <img src="Image.svg" alt="logo" style="width: 48px;" class="pb-3 pe-2">
                    <div class="text-left pe-4">
                        <span class="text-2xl font-bold">2k+</span>
                        <p class="text-sm">Websites built</p>
                    </div>
                    <div class="hidden lg:block border-end"></div>
                </div>
                <div class="flex align-center">
                    <img src="Image.svg" alt="logo" style="width: 48px;" class="pb-3 pe-2">
                    <div class="text-left pe-4">
                        <span class="text-2xl font-bold">2k+</span>
                        <p class="text-sm">Websites built</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Hero Image -->
        <div class="mt-8">
            <img src="hero-image.png" alt="Team" class="mx-auto rounded-lg">
        </div>
    </div>
</section>