.background {
    background-image: url('../../../public/bg-top.png');
    /* background-color: #03135b; */
    background-size: cover;
}

.text-heading {
    font-size: 65px;
    font-weight: 800;
    line-height: 70px;
}

.text-sub-heading {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
}

/* Ensures buttons are the same size */
button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    gap: 10px;
    /* Space between buttons */
}

.flex-1 {
    flex: 1;
}