/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

* {
    font-family: 'Inter', sans-serif;
}

.bg-org {
    background-color: #FF693B;
    border-radius: 4px;
}

.bg-org:hover {
    background-color: #D75B32;
    /* Darker shade */
}

.bg-trans {
    background-color: transparent;
    border: 2px solid white;
    /* Add your desired border color */
}

.bg-trans:hover {
    background-color: rgba(0, 0, 0, 0.3);
    /* Change border color on hover */
    color: white;
    /* Optional: Change text color on hover */
}

.border-end {
    border-right: 1px;
    border-color: white;
    height: 48px;
    margin-top: 4px;
}